.main {
    height: 300px;
    width: 400px;
    background-color: rgb(231, 122, 246, 0.6);
    margin-top: 100px;
    border-radius: 30px;
    position: relative;
}

.content {
    position: absolute;
    margin-top: 20px;
    color: white;
    margin-left: 20px;
}

.list {
    opacity: 0.65;
    position: absolute;
    margin: 60px;
    margin-left: -15px;
}

.footer {
    height: 30px;
    width: 80% px;
    background-color: rgb(248, 144, 76, 0.5);
    margin-top: 50px;
    border-radius: 30px;
    position: relative;
    margin-bottom: 30px;
}

.footer-title {
    font-size: 12px;
    color: white;
    margin-top: 6px;
    position: absolute;
}